body{
    margin: 0;
    padding:0;
    width: auto;
    height: auto;
}

header{
  width: 100%;
  height: auto;
  bottom: auto;
  top:auto;
}


aside{
    background-color: #EAEBEB;
    width:100%;
    height: auto;
    margin: auto;
    text-align: center;
}

main{
    background-color: beige;
    margin: auto;
}

main form{
    background-color: aqua;
    width: 53%;
    height: auto;
    margin: auto;
    
}

.parent{
    background-color: blueviolet;
    display:inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:1%;
}

.item{
    background-color: indigo;
    color: pink;
}


 .calendario[type="date"] {
    /*display:none;*/
    /*appearance: none;*/
    color: gray;
    /*color: #1D1D1D;*/
    font-family: “Helvetica”, arial, sans-serif;
    text-align: center;
    border:.1em solid #ECF0F1;
    background:#ECF0F1;
    padding: 1%;
    margin: center;
    /*display: inline-block;*/
    visibility: visible;
    width: auto;
    }

    .calendario[type="date"]:focus {
    color: #495057;
    background-color: #FFFFFF;
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }


    .Partes{
        color: pink;
        font-size: 1.5em;
        background-color: gray;
        
    }




nav{
    background-image: url("../images/circuitos.png");
    background-color: #eaebeb;
    background-repeat:repeat-x;
    background-position-x: center;
    background-blend-mode:color-burn;
    
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    position: sticky;
}

header nav img{
    padding-top: 1em;
    padding-bottom: .5em;
}
aside p{
    font-size: 1.3em;
    font-style: bold;
}