body{
    
    margin: 0;
    padding:0;
}
    

nav{
    display: inline-flex;
    background-color: #BCCCD3;
    text-align: center;
}

#logo{
    margin: auto;
    padding: .5em;
    background-color: #034A91;
    width: auto;
    height: auto;
    text-align: center; 
}


hr{
    background-color: #BCCCD3;
}

nav p{
    background-color: #BCCCD3;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1.5em;
    padding: .5em;
    color:#034A91;
    
}

.input-field{
    background-color: #BCCCD3;
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
}

#NYC{
    background-color: #BCCCD3;
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
}

main{
    background-color: #BCCCD3;
    text-align: center;
    border-color: #034A91;
}

main form{
    margin: auto;
    padding:.5em;
    width: 100%;
    height: auto;
}


main #arrendamiento, #confidente, #compraventa{
    color:#034A91;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}