body{
    
    background-color:#CCCCCC;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*menu*/

nav{
    background-image: url("../images/circuitos.png");
    background-repeat:repeat-x;
    background-position-x: center;
    background-blend-mode:color-burn;
    background-color: #eaebeb;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
}

nav #logo{
    
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 1em;
}

#menu{
    display:inline-flex;
    background-color:#eaebeb;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
}

#menu ul{
    display:flex;
    width:auto;
    height: 100%;
    /*background-color: gray;*/
    list-style-type: none;
    padding: .25em;
    font-size: 1.3em;
}

ul li{
    color: black;
    padding: 1em;
    padding-top: 1em;
}

li:hover{
    color: #2e3192;
}
/*termia el menú*/

#banner{
    width: 100%;
    height: 90%;
    padding: 0;
}

#banner img{
    background-color:#eaebeb ;
    width:100%;
    height:100%;
    margin:auto;
    filter:blur(.07em);
    opacity: .90;

}


#iconos{
    background-image: url("images/circuitos.png");
    display:inline-flex;
    justify-content: space-between;
    background-color: #c6e6f4;
    width: 100%;
    height: auto;
    margin:auto;
    padding: 1em;

}

#iconos .card{
    display: inline=flex;
    background-color: #054172;
    justify-content: space-between;
}

/*IMPLEMENTACIÓN DEL COMPONENTE DE BOOTSTRAP*/
.card img{
    /*background-color: gray;*/
    width: 50%;
    height: 45%;
    margin: auto;
    padding-top: .5em;
}

.card-body{
    /*background-color: #eaebeb;*/
    
    background-color: #b3b3b3;

}

/*IMPLEMENTACIÓN DE GRID*/
.parent {
    background-color: purple;
    
    
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; }

/*.parent{

background-color:#eaebeb;
width: 100%;
height: auto;
margin: auto;
font-size: 1.3em;
}*/
.noticias{
   /* background-color: pink;*/
    width: auto;
    height: auto;
    
}

.grid1 .item2 #img1{
    display:grid;
    width: 49%;
    height:auto;
    background-blend-mode:color-burn;
    
   
}

.grid1{
    
    background-color:#eaebeb;
    display: grid; 
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;*/
    grid-template-columns: repeat(2, minmax(auto, auto));
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "imagen1 texto";
    gap:0;
}

.noticias .grid1{
    grid-template-rows: auto auto;
    grid-area: "imagen1";
    grid-area: "texto";
}

.grid1 .item2{
    background-image: url("../images/circuitos.png");
    background-position-x: center;
    background-blend-mode:color-burn;
    width: auto;
    height: auto;
    
}
.item1{
    /*background-color: purple;*/
    display:grid;
    /*grid-area: 1 / 1 / 2 / 3;*/  
    
}




main{
    background-color:#666666;
    margin: auto;
    width: auto;
    height: auto;
    padding:.25em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 0px;
}
    

.texto1 {
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: auto;
    text-align: center;
    color: #cccccc;
}

#MC1 {
    background-color: #054172;
    border-radius: 8%;
    padding: .20em; 
    /*grid-column-start: 2;
    grid-column-end: span col2-start;
    grid-row-start: 2;
    grid-row-end: span 2;*/
    padding: 5%;
    margin: auto;
    width: auto;
    height: auto;
}

#MC1 img{
    
    margin-left: .6em;
    width: 85%;
    height: auto;
    padding: .10em;
}

 

#MC2 {
    background-color: #054172;
    border-radius: 8%;
    padding: 5%;
    margin: auto;
    width: auto;
    height: auto;
}

#MC2 img{
    /*margin-left: .30em;*/
    width: auto;
    height: auto;
    padding: .15em;
}

#MC3 {
    border-radius: 8%;
    padding: 5%;
    margin: auto;
    width: 6.5em;
    height: auto;
    background-color: #054172;
}

#MC3 img{
    margin:auto;
    height: auto;
    padding: .10em;
    /*margin-left: .30em;*/
    width: 100%;
    padding: .15em;
}
    
   
footer{
    display:inline-flex;
    flex-flow: nowrap;
    width: 100%;
    height: auto;
    background-color: #054172;
}

footer img{
    display:inline-flex;
    justify-content: space-between;
    width:60%;
    height: auto;
    margin: auto;
    margin-left: 40%;
}

#redes{
    
    width: 60%;
    height: auto;
    margin: auto;
    display:flex;
    padding: .15em;
    margin-left: 9%;
}

#legales p{
    width: 50%;
    height: auto;
    color: #99ddff;
    border-left: 2em;
    margin-left: 20em;
    margin: auto;
    text-align:justify;
    font-size: .92em;
    padding:1.2em;
}







