body{
    background-color:#CCCCCC;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav{
    background-image: url("circuitos.png");
    background-color: #eaebeb;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
}

nav #logo{
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 1em;
}

#menu{
    display:inline-flex;
    background-color:#eaebeb;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
}

#menu ul{
    display:flex;
    width:auto;
    height: 100%;
    /*background-color: gray;*/
    list-style-type: none;
    padding: .25em;
}

ul li{
    color: black;
    padding: 1em;
    padding-top: 1em;
}

li:hover{
    color: #2e3192;
}


#banner{
    width: 100%;
    height: 90%;
    padding: 0;
}

#banner img{
    width:100%;
    height:100%;
    margin:auto;

}

main{
    background-color:#666666;
    margin: auto;
    width: auto;
    height: auto;
    padding:.25em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 0px;

}
    

.texto1 {
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: auto;
    text-align: center;
    color: #cccccc;
}

#MC1 {
    background-color: #054172;
    border-radius: 8%;
    padding: .20em;
   
    
       
    /*grid-column-start: 2;
    grid-column-end: span col2-start;
    grid-row-start: 2;
    grid-row-end: span 2;*/
    padding: 5%;
    margin: auto;
    width: auto;
    height: auto;
    
    

}

#MC1 img{
    
    margin-left: .6em;
    width: 85%;
    height: auto;
    padding: .10em;
}

 

#MC2 {
    
    background-color: #054172;
    border-radius: 8%;
    padding: 5%;
    margin: auto;
    width: auto;
    height: auto;
    
    

}

#MC2 img{
    /*margin-left: .30em;*/
    width: auto;
    height: auto;
    padding: .15em;
}




#MC3 {
    border-radius: 8%;
    padding: 5%;
    margin: auto;
    width: 6.5em;
    height: auto;
    background-color: #054172;
}

#MC3 img{
    margin:auto;
    height: auto;
    padding: .10em;
    /*margin-left: .30em;*/
    width: 100%;
    padding: .15em;
}
    
   
footer{
    display:inline-flex;
    flex-flow: nowrap;
    width: 100%;
    height: auto;
    background-color: #054172;
}

footer img{
    
    display:inline-flex;
    justify-content: space-between;
    width:60%;
    height: auto;
    margin: auto;
    margin-left: 40%;
    
}

#redes{
    
    width: auto;
    height: auto;
    margin: auto;
    display:flex;
    padding: .15em;
    margin-left: 9%;
}

#legales p{
    width: 50%;
    height: auto;
    color: #99ddff;
    border-left: 2em;
    margin-left: 20em;
    text-align:justify;
    font-size: .95em;
}

/*CARRUSEL*/

.carousel-indicators{
    list-style-type: none;   
}

.carouselslide{
    background-color: #666666;
}

.carousel-item active{
    width: 100%;
    
}

.slide {
            position: relative;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
            margin-top: 26px;
        }
            .slide-inner {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: calc( 300px + 3em);
            }
            .slide-open:checked + .slide-item {
                position: static;
                opacity: 100;
            }
            .slide-item {
                position: absolute;
                opacity: 0;
                -webkit-transition: opacity 0.4s ease-out;
                transition: opacity 0.4s ease-out;
            }
            .slide-item img {
                display: block;
                height: auto;
                max-width: 100%;
            }
            .slide-control {
                background: rgba(0, 0, 0, 0.28);
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                display: none;
                font-size: 40px;
                height: 40px;
                line-height: 35px;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                cursor: pointer;
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                text-align: center;
                width: 40px;

                z-index: 10;
            }
            .slide-control.prev {
                left: 10%;
            }
            .slide-control.next {
                right: 10%;
            }
            .slide-control:hover {
                background: rgba(0, 0, 0, 0.8);
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1,
            #slide-2:checked ~ .control-2,
            #slide-3:checked ~ .control-3 {
                display: block;
            }
            .slide-indicador {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 2%;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 10;
            }
            .slide-indicador li {
                display: inline-block;
                margin: 0 5px;
                }

            .slide-circulo {
                color: #828282;
                cursor: pointer;
                display: block;
                font-size: 35px;
            }
            .slide-circulo:hover {
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1 ~ .slide-indicador
                 li:nth-child(1) .slide-circulo,
            #slide-2:checked ~ .control-2 ~ .slide-indicador
                  li:nth-child(2) .slide-circulo,

            #slide-3:checked ~ .control-3 ~ .slide-indicador
                  li:nth-child(3) .slide-circulo {
                color: #428bca;
            }
            #titulo {
                width: 100%;
                position: absolute;
                padding: 0px;
                margin: 0px auto;
                text-align: center;
                font-size: 27px;
                color: rgba(255, 255, 255, 1);
                font-family: 'Roboto', sans-serif;
                z-index: 9999;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
                     -1px 0px 2px rgba(255, 255, 255, 0);
            }



